*.RData
*.Rhistory
.Rproj.user
src/header.html
src/brms_bookdown_files
src/_bookdown_files
src/brms_examples_files
src/[0-9][0-9]*.html
src/[0-9][0-9]*.md
src/*_cache
src/*_files
docs/*.html
docs/*.txt
docs/*.md
docs/*.json
docs/*.css
docs/*.xml
docs/*/
docs/bookdown-website
docs/site_setup
brms-cache/
__pycache__
.snakemake
logs
**/.brms-cache
**/_brms-cache
**/brms-cache
**/_freeze
src/**/*.png
src/brms_examples.rds
build
reports/*stan
reports/*.log
*.tar.gz
videos
*.mp4

/.quarto/
